<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=oil.name%></h1>
      <nav>
          <%# for bs... %>
        <table>
          <tr>
            <td>
              <button><a href="/">Home</a></button>
              <button><a href="/bodies">Body</a></button>
            </td>
          </tr>
        </table>
      </nav>
    </header>
    <main>
      <form action="/oils/<%=oil.id%>?_method=PUT" method="post">
        Name: <input type="text" name="name" value="<%=oil.name%>" /><br/>
        Description: <input type="text" name="desc" value="<%=oil.desc%>" /><br/>
        Background Image: <input type="text" name="bgImg" value="<%=oil.bgImg%>"/><br/>
        Icon Image: <input type="text" name="iconImg" value="<%=oil.iconImg%>"/><br/>
        Organ/System Name: <input type="text" name="bodySystemName" value="<%=oil.bodySystemName%>"/><br/>
        Organ/System Description: <input type="text" name="bodySystemText" value="<%=oil.bodySystemText%>"/><br/>
        <br/>
        Extra Systems (Optional):<br/>
        Organ/System Name: <input type="text" name="bodySystemName2" value="<%=oil.bodySystemName2%>" /><br/>
        Organ/System Description: <input type="text" name="bodySystemText2" value="<%=oil.bodySystemText2%>" /><br/>
        Organ/System Name: <input type="text" name="bodySystemName3" value="<%=oil.bodySystemName3%>" /><br/>
        Organ/System Description: <input type="text" name="bodySystemText3" value="<%=oil.bodySystemText3%>" /><br/>
        Organ/System Name: <input type="text" name="bodySystemName4" value="<%=oil.bodySystemTextName4%>" /><br/>
        Organ/System Description: <input type="text" name="bodySystemText4" value="<%=oil.bodySystemText4%>" /><br/>
        <input type="submit" value="Update <%=oil.name%>"/>
      </form>
    </main>
  </body>
</html>
