<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Oils Page</h1>
      <nav>
          <%# for bs... %>
        <table>
          <tr>
            <td>
              <button><a href="/">Home</a></button>
              <button><a href="/body">Body</a></button>
            </td>
          </tr>
        </table>
      </nav>
    </header>
    <main>
      <p>Here is some text about <%=oil.name%>'s properties<p>
      <table>
        <tr>
          <td><%=oil.bodySystemName1%></td>
          <td><%=oil.bodySystemText1%></td>
        </tr>
        <tr>
          <td><%=oil.bodySystemName2%></td>
          <td><%=oil.bodySystemText2%><br/>
        <tr>
          <td><%=oil.bodySystemName3%></td>
          <td><%=oil.bodySystemText3%></td>
        </tr>
      </table>
    </main>
    <footer>
      <form action="/oils/<%=oil.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Oil"/>
      </form>
  </body>
</html>
