<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Oils Page</h1>
      <nav>
          <%# for bs... %>
        <table>
          <tr>
            <td>
              <button><a href="/">Home</a></button>
              <button><a href="/body">Body</a></button>
            </td>
          </tr>
        </table>
      </nav>
    </header>
    <main>
      <p>Here is some text about this oils properties<p>
        <%=oil.bodySystemName1%>
        <%=oil.bodySystemText1%>
        <%=oil.bodySystemName2%>
        <%=oil.bodySystemText2%>
        <%=oil.bodySystemName3%>
        <%=oil.bodySystemText3%>

  </body>
</html>
