<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%=oil.name%></h1>
      <nav>
          <%# for bs... %>
        <table>
          <tr>
            <td>
              <button><a href="/">Home</a></button>
              <button><a href="/bodies">Body</a></button>
              <button><a href="/oils">Oils Index</a></button>
            </td>
          </tr>
        </table>
      </nav>
    </header>
    <main>
      <p><%=oil.desc%></p>
      <table>
        <tr>
          <td><%=oil.bodySystemName1%></td>
          <td><%=oil.bodySystemText1%></td>
        </tr>
        <tr>
          <td><%=oil.bodySystemName2%></td>
          <td><%=oil.bodySystemText2%><br/>
        <tr>
          <td><%=oil.bodySystemName3%></td>
          <td><%=oil.bodySystemText3%></td>
        </tr>
        <tr>
          <td><%=oil.bodySystemName4%></td>
          <td><%=oil.bodySystemText4%></td>
        </tr>
      </table>
    </main>
    <footer>
      <a href="/oils/<%=oil.id%>/edit%>">Edit <%=oil.name%></a>
      <form action="/oils/<%=oil.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete <%=oil.name%>"/>
      </form>
      <section>
        <h2>Body Systems associated with <%=oil.name%></h2>
          <% for(let i = 0; i < oil.bodies.length; i++) { %>
          <a href="/bodies/<%=oil.bodies[i]._id%>"><img src="<%=oil.bodies[i].iconImg%>"></a><br/>
          <a href="/bodies/<%=oil.bodies[i]._id%>"><%=oil.bodies[i].name%></a>
          <% } %>
      </section>
    </footer>
  </body>
</html>
