<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=oil.name%> Page</title>
    <link rel="icon" href="http://i.imgur.com/m0AjSPy.png">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <div class="container-fluid">
    <body class="main">
      <div class="row">
        <div class="col-md-12 mainHeader">
          <nav>
            <button class="navButton"><a href="/">Home</a></button>
            <button class="navButton"><a href="/bodies">Body</a></button>
            <button class="navButton"><a href="/oils">Oils Index</a></button>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mainHeader">
          <h1 class="mainh1"><%=oil.name%></h1>
        </div>
      </div>
        <div class="row mainHeader">
          <div class="col-md-2">
            <img class="headerImg" src="<%=oil.iconImg%>"/>
          </div>
          <div class="col-md-10">
            <p class="descP"><%=oil.desc%></p>
          </div>
      </div>
      <section class="listingBackground">
        <h2 class="listingHeader">Body System(s) associated with <%=oil.name%></h2>
        <div class="listingContainer">
          <% for(let i = 0; i < oil.bodies.length; i++) { %>
            <div class="listingItem indexListing mainCategories">
            <a href="/bodies/<%=oil.bodies[i]._id%>">
            <div class="listingImgContainer"><img class="listingImg" src="<%=oil.bodies[i].iconImg%>"></div></a><br/>
            <div class="descTextContainer"><%=oil.bodies[i].oilEffectText%></div>
            <div class="buttonContainer">
            <button class="mainButton"><a class="whiteText" href="/bodies/<%=oil.bodies[i]._id%>"><%=oil.bodies[i].name%></a></button>
            </div>
            </div>
          <% } %>
        </div>
      </section>
      <footer>
        <nav>
          <div class="listingContainer">
            <button class="footerButton"><a href="/oils/<%=oil.id%>/edit%>">Edit <%=oil.name%></a></button>
            <form action="/oils/<%=oil.id%>?_method=DELETE" method="POST">
              <input class="footerButton" type="submit" value="Delete <%=oil.name%>"/>
            </form>
          </div>
        </nav>
      </footer>
    </body>
    <footer>
      <% include ../../partials/footers.ejs %>
    </footer>
  </div>
</html>
