<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=body.name%></h1>
      <nav>
          <%# for bs... %>
        <table>
          <tr>
            <td>
              <button><a href="/">Home</a></button>
              <button><a href="/oils">Oils</a></button>
            </td>
          </tr>
        </table>
      </nav>
    </header>
    <main>
      <form action="/bodies/<%=body.id%>?_method=PUT" method="post">
        Name: <input type="text" name="name" value="<%=body.name%>" /><br/>
        Description: <input type="text" name="desc" value="<%=body.desc%>" /><br/>
        Background Image: <input type="text" name="bgImg" value="<%=body.bgImg%>"/><br/>
        Icon Image: <input type="text" name="iconImg" value="<%=body.iconImg%>"/><br/>
        Organ/System Name: <input type="text" name="oilEffectName1" value="<%=body.oilEffectName1%>"/><br/>
        Organ/System Description: <input type="text" name="oilEffectText1" value="<%=body.oilEffectText1%>"/><br/>
        <br/>
        Extra Systems (Optional):<br/>
        Organ/System Name: <input type="text" name="oilEffectName2" value="<%=body.oilEffectName2%>" /><br/>
        Organ/System Description: <input type="text" name="oilEffectText2" value="<%=body.oilEffectText2%>" /><br/>
        Organ/System Name: <input type="text" name="oilEffectName3" value="<%=body.oilEffectName3%>" /><br/>
        Organ/System Description: <input type="text" name="oilEffectText3" value="<%=body.oilEffectText3%>" /><br/>
        Organ/System Name: <input type="text" name="oilEffectName4" value="<%=body.oilEffectName4%>" /><br/>
        Organ/System Description: <input type="text" name="oilEffectText4" value="<%=body.oilEffectText4%>" /><br/>
        <input type="submit" value="Update <%=body.name%>"/>
      </form>
  </body>
</html>
